<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DeviceMapper">

    <insert id="insertDeviceLampBlackData" parameterType="com.entity.DeviceLampblackData">
        insert into ${lbDeviceDataTableName}
        (qn, st, cn, pw, mn, flag, date_time,
         exhaust_fan_status, purification_device_status, lampblack, pm, nmhc,
         create_time)
        values
        (
        #{qn},
        #{st},
        #{cn},
        #{pw},
        #{mn},
        #{flag},
        NOW(),
        #{exhaustFanStatus},
        #{purificationDeviceStatus},
        #{lampblack},
        #{pm},
        #{nmhc},
        NOW()
        )
    </insert>


    <update id="createLBDataTableAndIndex">
        <![CDATA[
            CREATE TABLE ${lbDataTableName} (
                id int(11) NOT NULL AUTO_INCREMENT,
                qn BIGINT (20) NOT NULL,
                st TINYINT (3) UNSIGNED NOT NULL,
                cn SMALLINT (6) NOT NULL,
                pw MEDIUMINT (9) NOT NULL,
                mn BIGINT (20) NOT NULL,
                flag TINYINT (3) UNSIGNED NOT NULL,
                date_time TIMESTAMP NOT NULL DEFAULT '0000-00-00 00:00:00',
                exhaust_fan_status TINYINT (4) NOT NULL,
                purification_device_status TINYINT (4) NOT NULL,
                lampblack DOUBLE NOT NULL,
                pm DOUBLE NOT NULL,
                nmhc DOUBLE NOT NULL,
                create_time TIMESTAMP NOT NULL DEFAULT '0000-00-00 00:00:00',
                PRIMARY KEY (id),
                INDEX index_mn_datetime (mn, date_time)
            ) ENGINE = INNODB DEFAULT CHARSET = utf8
       ]]>
    </update>


    <select id="qryTableByTableName" resultType="java.util.Map">
        <![CDATA[
            SELECT
	          table_name
            FROM
	          information_schema.TABLES
            WHERE
	          TABLE_SCHEMA = '${dbName}'
            AND TABLE_NAME = '${tableName}'
        ]]>
    </select>

    <delete id="dropTable">
        drop table ${tableName}
    </delete>

</mapper>